@font-face {
    font-family: 'gilroyextrabold';
    src: url('../font/gilroyextrabold-webfont.woff2') format('woff2'),
         url('../font/gilroyextrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroylight';
    src: url('../font/gilroylight-webfont.woff2') format('woff2'),
         url('../font/gilroylight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.main-header {
    margin: 40px auto 0;
    width: 1160px;
    min-height: 299px;
    background: rgb(247, 226, 150);
}

.main-navigation {
    display: flex;
    flex-direction: column;
}

.main-header-catalog {
    margin: 0 auto;
    width: 1160px;
    height: 186px;
    background: rgb(247, 226, 150);
}

.user-navigation {
    display: flex;
    width: 1040px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-transform: none;
    margin-bottom: 20px;
}

.login-link {
    margin-left: auto;
}

.site-navigation {
    display: flex;
    width: 1040px;
    margin: 0 auto;
    padding: 0;
}

.site-navigation li:nth-child(2) {
    margin-left: auto;
}

.types-goods  li:nth-child(1) {
    padding-top: 20px;
}

.user-navigation li,
.site-navigation li,
.popular-products li {
    list-style: none;
   
}

.user-navigation .form-search-text {
    font: inherit;
    border: none;
    background: rgb(247, 226, 150);
}

.login-link button {
    font: inherit;
    border: none;
    cursor: pointer;
    background: none;
    padding: 0 0 2px 0;
}

.user-navigation a,
.site-navigation a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.main-header-logo:hover,
.main-header-logo:focus {
    opacity: 0.6;
}

.main-header-logo:active {
    opacity: 0.3;
}

.user-navigation a:hover,
.user-navigation a:focus,
.user-navigation button:hover,
.user-navigation button:focus,
.site-navigation a:hover,
.site-navigation a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.user-navigation a:active,
.user-navigation button:active,
.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.form-navigation {
    position: relative;
    width: 440px;
    height: 50px;
}

.form-navigation input.form-search-text{
    opacity: 0.3;
    width: 100%;
    height: 32px;
    padding: 0 120px 0 40px; 
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
}

.form-navigation .form-search-text:hover{
    opacity: 0.6;
}

.form-navigation .form-search-text:focus {
    opacity: 1.0;
    outline: none;
    border-bottom: 2px solid rgb(0, 0, 0);

}

.form-navigation input.form-search-submit {
    position: absolute;
    top: -17px;
    right: 0;
    width: 85px;
    height: 49px;
    cursor: pointer;
    outline: none;
    background: rgb(247, 226, 150);
    border: 2px solid rgb(0, 0, 0);
    box-sizing: border-box;
}

.form-navigation .form-search-submit:hover,
.form-navigation .form-search-submit:focus {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.form-navigation .form-search-submit:active {
    color: rgba(255, 255, 255, 0.3);
}

.form-search-submit {
    display: none;
}

.form-search-submit:hover {
    display: inline;
}

.form-search-text:focus + .form-search-submit,
.form-search-text:active + .form-search-submit{
    display: inline;
}

/* Стили главной */
.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1160px;
}

.products-catalog {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 0 163px 0;
}

.products-list a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.products-list p {
    font-size: 18px;
    line-height: 24px;
    text-transform: none;
    width: 160px;
}

.products-item {
    width: 160px;
    height: 160px;
    background-color: rgb(247, 226,150);
}


li.products-list:hover div.products-item {
    background-color: rgb(240, 197, 46);
}

li.products-list:active {
    opacity: 0.3;
}

.partners img{
    filter: grayscale(100%);
    opacity: 0.2;
}

.partners {
    display: flex;
    justify-content: space-between;
    margin-bottom: 107px;
}

.partners img:hover {
    filter: none;
    opacity: 1.0;
}

.index-columns {
    display: flex;
    justify-content: space-between;
}

.about {
    width: 493px;
}

.contacts {
    width: 560px;
}

.about h2,
.contacts h2 {
    font-size: 47px;
    line-height: 48px;
    text-transform: none;
    margin-bottom: 41px;
}

.about p,
.contacts p {
    margin-bottom: 31px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    text-transform: none;
    color: rgb(70, 70, 70)
}

.maps {
    margin-top: 40px;
    margin-bottom: 63px;
}
.about-list {
    margin: 74px 0 44px 35px;
    padding: 0;
}

.about-item {
    list-style: none;
    font-size: 16px;
    text-transform: none;
    padding: 0 0 16px 0;
}

/* Стили слайдера */
.slider {
    position: relative;
}

.container-slider {
    position: relative;
    top: -112px;
    left: 5px;
    width: 1076px;
    height: 490px;
    margin-bottom: -10px;
    box-sizing: border-box;
    z-index: 2;
}


.slider-controls {
    position: absolute;
    right: -50px;
    bottom: 160px;
    width: 93px;
    height: 12px;
    transform: translateX(-50%);
}

.slider-controls label{
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls label::after {
    content: "";
    position: absolute;
    top: px;
    left: 8px;
    z-index: 1;
    width: 12px;
    height: 12px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;

}

.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider-item {
    width: 1076px;
    height: 500px;
}

.slider-one-decorative-element {
    position: absolute;
    top: 10px;
    right: -20px;
    width: 166px;
    height: 131px;
    background-image: url(../img/one.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    z-index: -1;
}

.slider-two-decorative-element {
    position: absolute;
    top: 10px;
    right: -20px;
    width: 198px;
    height: 131px;
    background-image: url(../img/two.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    z-index: -1;
}

.slider-three-decorative-element {
    position: absolute;
    top: 10px;
    right: -20px;
    width: 201px;
    height: 131px;
    background-image: url(../img/three.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    z-index: -1;
}

.slider-decorative-element {
    position: absolute;
    top: 39px;
    right: 380px;
    width: 100px;
    height: 7px;
    background-color: rgb(255, 255, 255);
}

.slider-position {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.slider-item h3 {
    width: 394px;
    margin: 0;
    margin-top: 80px;
    margin-right: 87px;
    margin-bottom: 19px;
    font-size: 47px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0.17px;
    text-transform: none;
}

h3.header-width {
    width: 494px;
    margin-right: -10px;
}

.slider-item p {
    width: 481px;
    margin: 0;
    margin-bottom: 43px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.15px;
    text-transform: none;
}

.slider-item table {
    margin-right: 50px;
}

table.table-slider-two {
    margin-right: 323px;
}

table.table-slider-three {
    margin-right: 168px;
}

.slider-item .number-decor{
    font-family: 'gilroylight', sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: 0.36px;
    text-transform: none;
}

.slider-item .text-decor {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.13px;
    text-transform: none;
}

.table-slider-one td:nth-child(1) {
    width: 155px;
}

.table-slider-one td:nth-child(2) {
    width: 134px;
}

.table-slider-three td:nth-child(1) {
    width: 155px;
}

.table-slider-three td:nth-child(2) {
    width: 134px;
}

.slider-item {
    display: none;
}

.slider-item:nth-child(1) {
    background-image: url("../img/slider-one.png");
    background-repeat: no-repeat;
    background-position: 85px 0px;
}

.slider-item:nth-child(2) {
    background-image: url("../img/slider-two.png");
    background-repeat: no-repeat;
    background-position: 112px 13px;
}

.slider-item:nth-child(3) {
    background-image: url("../img/slider-three.png");
    background-repeat: no-repeat;
    background-position: 24px 66px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
    display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
    display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
    display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 2;
    width: 4px;
    height: 4px;
    margin: -4px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
}

/* Стили каталога */
.container-catalog {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.catalog-columns {
    display: flex;
    margin: 0 auto;
    width: 1160px;
}

.wrapper-title{
    margin: 0 auto 45px;
    width: 1160px;
}

.page-title {
    margin-left: 59px;
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.17px;
    text-transform: none;
}

.breadcrumbs {
    margin: -16px 0 0 61px;
    padding: 0;
}

.breadcrumbs li{
    display: inline-block;
    padding: 0 16px 0 0;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-transform: none;
    color: rgba(0, 0, 0, 0.3);
    background: url(../img/nav-arrow.svg) no-repeat right;
}

.breadcrumbs li:nth-child(2) {
    padding-left: 14px;
    padding-right: 19px;
}

.breadcrumbs li:last-child {
    background: none;
    padding: 0 0 0 12px;
}

.breadcrumbs a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
    color: rgba(0, 0, 0, 0.1);
}


.catalog-list {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin: 0;
    padding: 69px 68px 0 72px;
}

.catalog-list li {
    margin-right: 40px;
    margin-bottom: 52px;
    list-style: none;
}

.catalog-list li:nth-child(2n) {
    margin-right: 0;
}

.catalog-list li:nth-child(3n),
.catalog-list li:nth-child(4n) {
    margin-bottom: 43px;
}

.catalog-item img {
    margin-bottom: 8px;
}

.catalog-item p{
    display: flex;
    font-size: 18px;
    line-height: 24px;
    text-transform: none;
}

.catalog-item a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.catalog-item span {
    font-family: 'gilroylight';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(119, 119, 119);
    margin-left: auto;
}

.pagination-wrapper {
    margin: -2px 0 0 72px;
    width: 758px;
    height: 70px;
    background: rgb(235, 235, 235);
}

.pagination-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.pagination-list li{
    list-style: none;
}

.pagination-list li:nth-child(3),
.pagination-list li:nth-child(4) {
    margin-left: -184px
}

/* Стли кнопок */
.button {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 24px;
    border: none;
    letter-spacing: 4px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 40%,rgba(240,197,46,1) 40%,rgba(240,197,46,1) 60%,rgba(255,255,255,1) 60%);
}

.button-filter {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 24px;
    border: none;
    letter-spacing: 4px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    width: 200px;
    height: 40px;
    background: linear-gradient(to bottom, rgba(238,238,238,1) 40%,rgba(240,197,46,1) 40%,rgba(240,197,46,1) 60%,rgba(238,238,238,1) 60%);
}

.button-about {
    display: inline-block;
    padding: 10px 0px 0 23px;
    width: 238px;
    height: 33px;
}

.button-contacts {
    padding: 0px 0px 0 9px;
    height: 40px;
    width: 260px;
}

.button-sllider {
    display: block;
    text-align: center;
    line-height: 40px;
    width: 220px;
    height: 40px;
    margin-right: 259px;
    margin-bottom: 46px;
}

.button:hover,
.button:focus,
.button-filter:hover,
.button-filter:focus {
    background: rgb(240, 197, 46);
}

.button:active,
.button-filter:active {
   color: rgba(0, 0, 0, 0.3);
}

.pagination-button {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 125px;
    height: 70px;
    border: none;
    cursor: pointer;
    background: rgb(235, 235, 235);
}

.pagination-button:hover,
.pagination-button:focus {
    background: rgb(217, 217, 217);
}

.pagination-button:active {
    opacity: 0.3;
}

.pagination-item {
    margin-left: 10px; 
}

.pagination-item:first-child,
.pagination-item:last-child {
    margin-left: 0;
}

.pagination-item a,
.pagination-item-current a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
}

.pagination-item-current a {
    color: rgb(0, 0, 0);
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item-current a:hover,
.pagination-item-current a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:active,
.pagination-item-current a:active {
    color: rgb(0, 0, 0);
}


/* Стили Фильтра */
.filtres h3 {
    margin: 0;
    font-size: 16px;
    letter-spacing: 3px;
}

.wrapper-bg-filter {
    margin-left: -140px;
    width: 468px;
    background: rgb(220, 220, 220);
}

.filtres-title {
    line-height: 70px;
    width: 266px;
    height: 70px;
    padding-left: 202px;
    background: rgb(220, 220, 220);
}

.filtres-wrapper {
    display: flex;
    margin-left: -140px;
    width: 468px;
    height: 1211px;
    background: rgb(239, 239, 239);
}

.filter {
    margin-left: 180px;
}

.filter fieldset {
    border: none;
}

.filter legend {
    font-size: 18px;
    line-height: 24px;
    text-transform: none;
}

.filter-option li {
    list-style: none;
}

.filter label {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 1px;
    text-transform: none;
}

.filter-option input:disabled + label {
    color: rgba(0, 0, 0, 0.3);
}

.filter-option input:hover,
.filter-option input:focus {
    color: rgba(0, 0, 0, 0.6);
}

.wrapper-bg {
    width: 963px;
    background: rgb(235, 235, 235);
}

.navigation-wrapper {
    display: flex;
    align-items: baseline;
    width: 800px;
    height: 63px;
    padding: 7px 20px 0 72px;
    background: rgb(235, 235, 235);
}

.navigation-wrapper > h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}


.navigation-catalog  {
    display: flex;
}

.navigation-catalog li {
    margin-left: 7px;
}

.navigation-catalog li:nth-child(2) {
    margin-left: 18px;
}

.navigation-catalog li:nth-child(3) {
    margin-left: 20px;
}

.navigation-catalog li:nth-child(4) {
    margin-left: 223px;
}

.navigation-catalog li:nth-child(5) {
    margin-left: 4px;
}

.navigation-catalog li{
    position: relative;
    margin-right: 10px;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    text-transform: none;
}

.navigation-catalog a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
}

.navigation-item-current a {
    color: rgb(0, 0, 0);
}

.navigation-catalog a:hover,
.navigation-catalog a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.navigation-catalog a:active {
    color: rgb(0, 0, 0);
}

.navigation-up-filter {
    position: absolute;
    top: 4px;
    width: 11px;
    height: 10px;
    background: url(../img/icon-up-dir-icon.svg) no-repeat ;
    opacity: 0.2;
}

.navigation-down-filter {
    position: absolute;
    top: 4px;
    left: 15px;
    width: 11px;
    height: 10px;
    background: url(../img/icon-down-dir-icon.svg) no-repeat;
    opacity: 0.2;
}

.down-filter-current {
    opacity: 1.0;
}

.navigation-up-filter:hover,
.navigation-up-filter:focus,
.navigation-down-filter:hover,
.navigation-down-filter:focus {
    opacity: 0.6;
}

.navigation-up-filter:active,
.navigation-down-filter:active {
    opacity: 1.0;
}


/* Стили footer */
.main-footer {
    width: 100%;
    margin: 80px auto 0;
    background: rgb(70, 70, 70);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 30px;
    font-weight: 300;
    text-transform: none;
    color: rgb(255, 255, 255);
}

.main-footer-catalog {
    margin: 5px auto 0;
}

.container-footer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1160px;
}

.footer-top {
    display: flex;
    margin-top: 50px;
    margin-bottom: 9px;
}

.footer-logo {
    margin-top: 16px;
}

.footer-logo:hover,
.footer-logo:focus {
    opacity: 0.6;
}

.footer-logo:active {
    opacity: 0.3;
}

.footer-navigation {
    display: flex;
    width: 1160px;
}

.footer-user-navigation {
    display: flex;
    margin-left: auto;
}

.footer-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-middle span {
    margin-top: -9px;
}

.footer-site-menu {
    display: flex;
}

.footer-user-navigation li,
.footer-site-menu li{
    list-style: none;
}

.footer-user-navigation a,
.footer-user-navigation span,
.user-nav-btn {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.footer-site-menu a {
    font-family: 'gilroyextrabold', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.footer-bottom {
    display: flex;
}

.footer-social {
    margin-left: 512px;
}

.footer-copyright {
    margin-left: auto;
}

.footer-user-navigation a:hover,
.footer-user-navigation a:focus,
.footer-user-navigation span:hover,
.footer-user-navigation span:focus,
.user-nav-btn:hover,
.user-nav-btn:focus {
    color: rgb(255, 255, 255);
}

.footer-user-navigation a:active,
.user-nav-btn:active {
    opacity: 0.3;
}

.footer-site-menu a:hover,
.footer-site-menu a:focus {
    color: rgba(255, 255, 255, 0.6);
}

.footer-site-menu a:active {
    color: rgba(255, 255, 255, 0.3);
}